<div class="footer-navbar" id="map-navbar">
    <a href="{{ path('home_index') }}">{{ ux_icon('ion:home') }}</a>
    <a href="{{ path('profile') }}">{{ ux_icon('ion:car-sport-outline') }}</a>
    <a href="{{ path('map') }}">{{ ux_icon('ph:lightning-thin') }}</a>
    <a href="{{ path('contact_index') }}">{{ ux_icon('ri:info-i') }}</a>
    <a href="">{{ ux_icon('ph:gear-light') }}</a>

</div>
