<div class="footer-navbar">
    <a href="">{{ ux_icon('ion:home') }}</a>
    <a href="">{{ ux_icon('ion:car-sport-outline') }}</a>
    <a href="">{{ ux_icon('ph:lightning-thin') }}</a>
    <a href="">{{ ux_icon('ri:info-i') }}</a>
    <a href="">{{ ux_icon('ph:gear-light') }}</a>

</div>
