{% extends 'base.html.twig' %}

{% block body %}
    <main class="profile-main">
        <section class="infos-user">
            <article>
                <p>Où allons nous aujourd'hui {{ app.user.firstname}} ?</p>
                <div class="user-car">
                    {% for car in user.cars %}
                        <p>{{ car.model.brand }} {{ car.model.model }}</p>
                    {% endfor %}
                    <p>car.picture</p>
                </div>
            </article>
        </section>
        <section class="lower-half">
            <section class="info-car">
                <div>
                    <p>Infos batterie :</p>
                    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 50px">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ battery }}%">{{ battery }} % restant</div>
                    </div>
                </div>
                <div>
                    <p>Distance restante :</p>
                    <p>{{ distance }} Km</p>
                </div>
            </section>
            <section class="misc-infos">
                <article class="weather-API">
                    <h1>API Météo</h1>
                </article>
                <article class="misc-div">
                    <h2>Dernière section</h2>
                </article>
            </section>
        </section>
    </main>
{% endblock %}
